* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primary: #0086FF;
    --color-primary-light: #AADFFF;
    --color-secondary: #9892EA;

}



nav {
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    display: flex;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    z-index: 1;

}

.link-container ul {
    align-items: center;
    color: white;
    display: flex;
    column-gap: 2rem;
    list-style: none;
}



.img-logo {
    margin-left: 10rem;
    width: 100px;
}

nav .button-li {
    margin-right: 15rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    border-style: none;

}

.button-li:hover {
    background-color: aquamarine;
    color: black;
}

.li-nav:hover {
    border-bottom: 1px solid white;
    color: rgb(214, 214, 214);
}

section {
    margin-top: 4rem;
}
.burger {
    display: block;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {

    flex-grow: 1;
    flex-basis: 100%;
    padding-bottom: .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.col-1_2 {
    flex-basis: 50%;
}

.col-1_3 {
    flex-basis: calc(100% / 3);
}

.col-2_3 {
    flex-basis: calc((100% / 3) * 2);
}

.col-1_4 {
    flex-basis: 25%;
}

.col-2_4 {
    flex-basis: 50%;
}

.col-3_4 {
    flex-basis: calc((100% / 4) * 2)
}

.card {
    background-color: darkcyan;
    border-radius: 20px;

    padding: 1rem;
}

.card-primary {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

.card-secondary {

    background-color: var(--color-secondary);
    color: white;
}

.card-white-secondary {
    border-radius: 15px;
    padding: 2rem;
    background-color: white;
    color: var(--color-secondary);
}

.btn-blue {
    border-style: none;
    background-color: var(--color-primary);
    color: white;
    padding: .6rem 1rem;
    border-radius: 15px;
}

.btn-blue:hover {
    background-color: aquamarine;
    color: black;
}

.phone1 {
    left: 1rem;
    bottom: -10rem;
    position: relative;
    width: 100%;
    display: block;
}


.tx-cent {

    text-align: center;
}

.file-icon {
    font-size: 130px;
}

.white-container {
    padding: 1rem 1rem;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    color: black;
    position: relative;
    margin-top: 3.5rem;
    margin-left: 1.5rem;
}

.btn-sec3 {
    border-radius: 50%;
    background-color: #9892EA;
    color: black;
    border-style: none;
    padding: 0 1rem;
}

.file-icon2 {
    font-size: 50px;
}

.file-icon2:hover {
    background-color: aquamarine;
    color: black;
}

.img-logo2 {
    margin-top: 2rem;
    width: 60%;
}

.test-face {

    border-radius: 50%;
}

.card-secondary-face {
    margin: 3rem;
    border-radius: 20px;
    background-color: var(--color-secondary);
    color: white;
}

.img-test {

    width: 90%;
    border-radius: 50%;
    padding: .5rem;

}



.img-logo3 {

    width: 100%;
}

.btn-card1 {
    border-style: none;
    background-color: var(--color-secondary);
    color: white;
    padding: .6rem 1rem;
    border-radius: 15px;
    font-weight: bold;
}

.btn-card1:hover {
    background-color: rgb(25, 114, 84);

}


.font-yellow{
    color: rgb(255, 196, 0);
    font-size: 60px;
    padding-top: 1rem;
}
.btn-ftr {

    background-color: white;
    color: var(--color-secondary);
    border-radius: 15px;
    padding:1rem 3rem;
    border-style: none;
    font-weight: bold;

}

.btn-ftr:hover {
    background-color: aquamarine;
    color: black;
}
.ftr-background{
    margin-top: -4rem;
    
    background-color: rgb(51, 51, 51);
    color: rgb(177, 174, 174);
    font-size: larger;
}
.space-ftr{
    padding-top: 5rem;
}