* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin:0 auto;
   padding: 0 1rem;
   border: 1px dashed red;}

nav {
    align-items: center;
    justify-content: space-between;
    background-color: #0ea7ff;
    display: flex;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    z-index: 1;

}

.link-container ul {
    align-items: center;
    color: white;
    display: flex;
    column-gap: 2rem;
    list-style: none;
}



.img-logo {
    margin-left: 10rem;
    width: 100px;
}

nav .button-li {
    margin-right: 15rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    border-style: none;
 
}

.button-li:hover {
    background-color: aquamarine;
    color: black;
}

.li-nav:hover {
    border-bottom: 1px solid white;
    color: rgb(214, 214, 214);
}

.sec1 {
    margin-top: 5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    border: 1px solid blue;
    flex-grow: 1;
    flex-basis: 100%;
}

.col-1_2 {
    flex-basis: 50%;
}

.col-1_3 {
    flex-basis: calc(100% / 3);
}

.col-1_2 {
    flex-basis: calc((100% / 3) * 2);
}

.col-1_4 {
    flex-basis: 25%;
}

.col-2_4 {
    flex-basis: 50%;
}

.col-3_4 {
    flex-basis: calc((100% / 4) * 2)
}